@model CheaperMarket.Models.CommandeViewModel

@{
    ViewBag.Title = "Commande";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Commandes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Nouvelle Commande.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.LabelFor(m => m.quantite, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.quantite, new { @class = "form-control  col-md-8" })
        </div>
    </div>
    <div class="form-group row">
        <label for="adresse" class="control-label col-md-4">Adresse de Livraison: </label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.adresse, new { @class = "form-control col-md-8" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregister" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}